$yellow: #FFE600;
$sky: #3483FA;
$grey: #333333;
$grey1: #666666;
$grey2: #999999;
$grey3: #EEEEEE;
$white: #fff;
$black: #000;

*{
    margin: 0 auto;
    padding: 0;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

body{
    height: 100%;
    background: $grey3;
    header{
        width: 100%;
        max-width: 100%;
        background: $yellow;
        padding: 10px 0;
        img.logo{
            cursor: pointer;
        }
        form{
            input{
                border: none;
                border-radius: 3px 0 0 3px;
                height: 34px;;
                width: 87%;
                padding: 0 15px;
                color: $grey1;
                font-size: 18px;
            }
            button{
                vertical-align: top;
                height: 34px;;
                background: $grey3;
                border: none;
                border-radius: 0 3px 3px 0;
                width: 35px;
                .icon-search{
                    height: 28px;
                    width: 28px;
                    padding: 5px;
                }
            }
        }
    }
    
    .container{
        padding: 0;
        margin: 0;
        width: 100%;
        .breadcrumb{
            background: $grey3;
            padding: 16px 0;
            margin: 0;
            >li+li:before {
                padding: 0 10px;
                color: $grey2;
                content: ">";
            }
            li a{
                color: $grey2;
                font-size: 14px;
            }
            li.active{
                color: $grey2;
                font-weight: 700;
            }
        }
        .product-list{
            background: $white;
            border-radius: 3px;
            margin-left: 0;
            padding: 16px 0;
            &:after{
                content: "";
                width: 93%;
                left: 3%;
                height: 2px;
                background-color: $grey3;
                position: absolute;
                margin: 16px 0;
            }
            div.row{
                a{
                    color: $grey;
                    &:hover{
                        text-decoration: none;
                    }
                }
                img.picture{
                    border-radius: 4px;
                    margin-left: 16px;
                }
                .mediabody{
                    padding: 15px 0 0 8px;
                    h2.title-product{
                        font-size: 18px;
                        margin: 32px 0 0 0;
                        font-weight: 500;
                    }
                    span{
                        font-size: 24px;
                    &.decimals{
                        display: inline-block;
                        font-size: 14px;
                        vertical-align: super;
                        }
                    }
                    p.free{
                        &:after{
                            content: "";
                            background-image: url('./static/ic_shipping.png');
                            width: 23px;
                            height: 23px;
                            position: absolute;
                            display: inline-block;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            margin: 5px 0 0 5px;
                        }
                    }
                    p{
                        font-size: 18px;
                    }
                }
                span.region{
                    position: relative;
                    padding-top: 25px;
                    font-size: 12px;
                    display: block;
                }
            }
        }
    }
    .product-view{
        background: $white;
        border-radius: 4px;
        span.new{
            margin: 32px 0 16px 0;
            display: block;    
            font-size: 14px;    
        }
        h1.product-title{
            font-size: 24px;
            line-height: 30px;
            width: 80%;
        }
        span{
            &.price{
                font-size: 48px;
                display: inline-block;
                margin: 32px 0;
            }
            &.decimals{
                font-size: 20px;
                display: inline-block;
                position: absolute;
                margin-top: 42px;
            }
        } 
    
        button{
            width: 75%;
            background: #3483FA;
            border: none;
            margin: 0 32px 0 0;
            height: 40px;
        }
        .description{
            h2{
                font-size: 28px;
                margin: 32px;
            }
            p{
                font-size: 16px;
                margin: 32px;
                width: 60%;
            }
        }
    }
}

.row{
    margin: 0;
}

@media (max-width: 767px) {
    body{
        .row {
            display: block;
            text-align: center;
            margin: 0 auto;
        }
        .product-list{
            .mediabody{
                h2.title-product{
                    margin: 10px 0;
                }
            }
        }
        .product-view{
            h1.product-title{
                width: 100%;
            }
            .btn.btn-primary{
                width: 100%;
            }
        }
    }
}